.container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.card{
    background-color: rgb(39, 43, 51);
    margin-bottom: 0.5rem;
} 