
.h5 {
  color:aliceblue;
}

.card {
  background-color: #213513;
  margin-bottom: 0.5rem;
}

.theme-dark{
  background-color: rgb(60, 62, 68);
}

.theme-green{
  background-color: #213513;
}

.card-img-top {
  height: 100%;
  background-size: contain;
  border-radius: 1rem;
  width: 100%;
}

.card-body {
  padding: 20px;
}

.card-text {
  text-align: left;
  color: rgb(245, 245, 245);
}

h3 {
  color: rgb(245, 245, 245);
}

span{
    color: orange;
}