.App {
  text-align: center;
  min-height: 100vh;
  max-height: 700vh;
  background-color: #000e0f;
}

.App-header {
  background-color: white;
}

header a {
  text-decoration: none;
  color: white;
}

header a:hover {
  color: darkred;
}
